<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382060196096-9b7iar0tt80k6f2hmqsk9v3l10s5h44t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382060196096-9b7iar0tt80k6f2hmqsk9v3l10s5h44t</string>
	<key>API_KEY</key>
	<string>AIzaSyB6VqQy1dPzDPTXJx3CcwRZ0C_A_Zun1Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>382060196096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ddmprojectios</string>
	<key>PROJECT_ID</key>
	<string>ddmproject-f7392</string>
	<key>STORAGE_BUCKET</key>
	<string>ddmproject-f7392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382060196096:ios:b1b30d19f1b57e1988c3e5</string>
</dict>
</plist>